<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>Here is your profil:</h1>
<p> Email: <%= @user.email %></p>
<p> First Name: <%= @user.first_name %></p>
<p> Last Name: <%= @user.last_name %></p>
<p> Password: <%= @user.encrypted_password %></p>
