/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


 body {
  font-family: 'Montserrat', sans-serif;
 }

 h1 {
  color: white;
  text-align: center;
  padding: 70px;
  font-size: 68px;
  margin-top:0px;
 }

h2 {
  text-align: center;
  padding: 20px;
}

.pages {
  background-color: #ffffff;
}

.text-white {
  color: lightgrey;
  font-weight:300;
}

.text-fb {
  color: #3E3E3E;
  margin: 0px 5px;
 }

.text-fb:hover {
  color: #3B5997;
  margin: 0px 5px;
 }

.text-tw {
  color: #3E3E3E;
  margin: 0px 5px;
 }

.text-tw:hover {
  color: #29C5F6;
  margin: 0px 5px;
 }

.text-yt {
  color: #3E3E3E;
  margin: 0px 5px;
 }

.text-yt:hover {
  color: #DD3835;
  margin: 0px 5px;
 }

.text-insta {
  color: #3E3E3E;
  margin: 0px 5px;
 }

.text-insta:hover {
  color: #B06C52;
  margin: 0px 5px;
 }

.text-pint {
  color: #3E3E3E;
  margin: 0px 5px;
 }

.text-pint:hover {
  color: #C41520;
  margin: 0px 5px;
 }

 #socials {
  font-size: 38px;
  margin: 20px 0px;
 }

 .form-center {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 60px;
 }

 #footer {
  padding: 20px;
  background-color: #DBDBDB;
  border-top: 2px solid #D5D3D3;
 }
