<div id="footer">

  <div id="socials" class="text-center">

    <i class="fa fa-facebook-square text-fb"></i>
    <i class="fa fa-twitter-square text-tw"></i>
    <i class="fa fa-youtube-square text-yt"></i>
    <i class="fa fa-pinterest-square text-pint"></i>
    <i class="fa fa-instagram text-insta"></i>

  </div>
  <div class="text-center">
  © flatair, Inc
  <br>
  </div>

</div>