<div id="page">
<h2>My trips</h2>
<div class="container">
  <div class="row">
      <% @bookings.each do |b|  %>
        <div class="col-xs-12 col-md-4 ticket">
        <p>Arrival: <%= b.arrival %></p>
        <p>Departure: <%= b.departure %></p>
        <p>Flat: <%= b.flat.title %></p>
      </div>
      <% end %>
  </div>
  <br>
</div>
</div>


