#accueil {
  background-image: url("https://farm8.staticflickr.com/7269/6880491416_383595538c_h.jpg");
  min-height: 450px;
  background-size:cover;
}

#accueil2 {
  background-color: #F7F7F7;;
  padding: 40px;
  border-top: 6px solid #EAEAEA;
}

